<h1>Cadastre um Jogo</h1>
    <form action="/jogos/novo" method="post">
        <div>
            <label for="titulo">Título</label>
            <input type="text" id="titulo" name="titulo">
        </div>
        <div>
            <label for="descricao">Descrição</label>
            <input type="text" id="descricao" name="descricao">
        </div>
        <div>
            <label for="precoBase">Preço base</label>
            <input type="number" id="precoBase" name="precoBase" min="0" max="1000">
        </div>
        <input type="submit" value="Cadastrar" />
    </form>